.task-header {
  display: flex;
  justify-content: center;
}

.task-body {
  min-height: 100vh;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 15px 15px rgb(12, 2, 2);
  padding: 15px;
}
.ai {
  color: #fdc302;
  background-color: black;
}
.user {
  color: #10c749;
  background-color: black;
}
